*{
margin:0;
font-family:Century Gothic;
}
body{
    background: url('flower.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header{
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../flower.jpeg);
height:100vh;
background-size:cover;
background-position:center;
}
.nav
{
text-align:right;
padding-top:20px;
}
a{
color:#fff;
border:1px solid transparent;
font-size:20px;
padding:5px 20px;
text-decoration:none;
}
a:hover{
/* background-color:#fff; */
border-bottom: 2px solid black;
color:#000;
}
.main{
max-width:1200px;
margin:auto;
}
.title{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}
.title h1{
color:#40DFEF;
font-size:70px;
}
.button{
position:absolute;
top:62%;
left:50%;
transform:translate(-50%,-50%);
}
.btn{
border:1px solid #fff;
padding:10px 30px;
color:#fff;
text-decoration:none;
}
.btn:hover{
background-color:#fff;
color:#000;
}
